/*  Fonts */
@base-font: 'Suisse Intl', sans-serif;
@base-font-size: 1.6rem;

@header-font: 'Afisha Display Text', sans-serif;

/* Colors */
@white: #fff;
@black: #000;
@gray: #8C8C8C;
@grey: #8C8C8C;
@gray-light: #ebeaea;
@grey-light: #ebeaea;
@gray-lighter: #F8F9FA;
@gray-smoke: #F6F6F6;
@gray-dark: #606266;
@grey-dark: #606266;
@gray-400: #a9abb2;
@green: #10b981;
@blue-light: #5bc0de;

@promo-green: #a4ff30;

@red: #ff3118;
@red-hover: #fd4848;

@error: #d63c32;

@shadow-gray: #edebeb;

@font-color-base: @black;




/* Btns */
@btn-red: @red;
@btn-red--hover: @red-hover;

@btn-gray-light: @gray-light;
@btn-gray-light--hover: @gray-400;

/* Breakpoints */
@breakpoints: {
  xs: 720px;
  sm: 920px;
  md: 1024px;
  lg: 1200px;
  xl: 1440px;
}

/* Grid */
@navbar-h: 72px;
@navbar-h--mobile: 62px;
@header-z-index: 100;

/* Transitions */
@default-transition: .3s ease;
