.scheme-scale-controls {
  @btn_deep: 3px;
  --btn_radius: 4px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  border: .5px solid @gray-400;
  border-radius: var(--btn_radius);

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 0px;
    background-color: @btn-gray-light;
    font-size: 15px;
    user-select: none;
    transition:
      background-color .2s ease;

    + button {
      border-top: 1px solid @gray-400;
    }

    &:active,
    &:focus {
      outline: none;
    }

    .hover({
      background-color: @btn-gray-light--hover;
    })
}
}
