.vue_hall_scheme_wrapper {
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

  *,
  div {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: @base-font;
    font-style: normal;
  }

  ol,
  ul {
    list-style: none;
  }

  input,
  textarea:focus {
    outline-color: rgba(244, 18, 18, 0.3);
    font-family: @base-font;
  }

  input[type="checkbox"]:checked {
    background-color: #F41212;
    border-color: #F41212;
  }

  input[type="checkbox"]:focus {
    border-color: #F41212 !important;
    box-shadow: 0 0 0 3px rgba(244, 18, 18, 0.25);
  }

  // .pages

  .page-title {
    margin-top: 32px;
  }

  // .sections

  .section {

    +.section {
      margin-top: 80px;

      .respond-to(sm, {
        margin-top: 56px;
      });
    }
  }

  .section-title {
    margin-bottom: 20px;
  }


  .el-collapse-item__header {
    font-size: 21px !important;
    padding-left: 10px;
  }

  .el-collapse-item__content {
    padding-bottom: 0 !important;
  }

  button {
  //   border-radius: 8px;
  //   border: 1px solid transparent;
  //   padding: 0.6em 1.2em;
  //   font-size: 1em;
  //   font-weight: 500;
  //   font-family: inherit;
  //   background-color: #1a1a1a;
  //   cursor: pointer;
  //   transition: border-color 0.25s;

    &:focus-visible {
      outline: none;
    }
  }


  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }

    a:hover {
      color: #747bff;
    }

    button {
      background-color: #f9f9f9;
    }
  }
}
